.badgeBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  min-width: 16px;
  min-height: 16px;
  border-radius: 50%;
  background-color: var(--z-badge_color);
  color: var(--z-white);
  transform: scale(.8);
}
