.container{
  position: relative;
  width: 100%;
  height: 3rem;
  text-align: center;
  .input{
    position: relative;
    top: 50%;
    width: 90%;
    height: 1.5rem;
    border-radius: 2rem;
    text-indent: 1rem;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
  }
  .inputActive{
    position: relative;
    top: 50%;
    width: 100%;
    height: 1.5rem;
    border-radius: 2rem;
    text-indent: 1rem;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
  }
  .searchIcon{
    width: fit-content;
    position: relative;
    right: -80%;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
  }
  .searchIconActive{
    width: fit-content;
    position: relative;
    right: -88%;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
  }
  .searchResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3rem;
    width: 100%;
    height: fit-content;
    min-height: 300%;
    max-height: 74dvh;
    background: pink;
    overflow-y: scroll;
    .emptyBox{
      color: var(--yc-gray_color);
    }
  }
}
