.productContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  width: 50dvw;
  height: 50dvh;
  overflow-y: scroll;
  border-radius: calc(var(--z-primary_border_radius)/2);
}
