@mixin flexLayout($direction: column,$jc:center,$ai:center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
}
.container{
  width: 100%;
  flex: 1;
  max-height: 74dvh;
  text-align: center;
  .emptyCustomer{
    //position: relative;
    //top: 50%;
    //transform: translateY(-50%);
    //color: var(--z-color-primary-light);
    width: 100%;
    height: 100%;
  }
  .customerList{
    @include flexLayout(column,flex-start);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .customerItem:hover{
      width: 95%;
      padding: calc(var(--z-primary_padding)/2) calc(var(--z-primary_padding));
      box-shadow:4px 4px 4px  var(--z-color-bg) ;
      transition: all 300ms ease-out;
    }
    .customerItem{
      @include flexLayout(row,space-between);
      margin-top: var(--z-primary_padding);
      width: 90%;
      padding: calc(var(--z-primary_padding)/3) calc(var(--z-primary_padding)/2);
      background-color: var(--z-color-surface);
      border-radius: calc(var(--z-primary_border_radius)/2);
      transition: all 300ms ease-out;
      cursor: pointer;
      .leftBox,.rightBox{
        position: relative;
        flex: 1;
      }
      .leftBox .avatar{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
      .username{
        color: var(--z-color-text);
      }
      .middleBox{
        flex: 3;
        @include flexLayout(column,space-between,flex-start);
        height: 100%;
        padding-left: calc(var(--z-primary_padding)/2);
        font-size: 1.1rem;
        .message{
          padding: .2rem 0;
          max-width: 6rem;
          font-size: .8rem;
          color: var(--z-color-text-secondary);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .onlineTip::before{
        position: absolute;
        content:'';
        right: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--z-online_tip);
      }
      .rightBox{
        @include flexLayout(column,space-between,flex-end);
        height: 100%;
        color: var(--z-deep_gray_color);
        font-size: .8rem;
        .timeCharacter{
          margin-left: calc(var(--z-primary_padding)/3);
        }
      }
    }
    .customerItem.active{
      background-color: var(--z-color-surface);
    }
  }
}
