.timeBox,.timeBoxActive{
  width: max-content;
  .time{
    display: flex;
    width: max-content;

  }
}
.timeBox .time{
  color: var(--z-color-text-secondary);
}

.timeBoxActive .time{
  color: var(--z-color-text-secondary-active);
}
