.container{
  width: 100%;
  height: 100%;
  flex: 9;
  max-height: 100%;
  
  .messageBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    gap: 1rem;
    
    &::-webkit-scrollbar {
      width: 6px;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: var(--z-color-border);
      border-radius: 3px;
      
      &:hover {
        background-color: var(--z-color-text-light);
      }
    }
  }
  
  .emptyMessageDiv{
    width: 100%;
    height: 100%;
  }
}
