.zoraChatContainer{
  display: flex;
  align-items: center;
  flex: 1;
  padding: 1rem .5rem;
  width: 100%;
  height: fit-content;
  .zoraContent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: var(--z-color-surface);
    border-radius: .5rem;
    box-shadow: #666666 1px 1px 4px;
    color: var(--z-color-text);
    .zoraAudioBox,.zoraEmojiBox,.zoraAddBox{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      text-align: center;
      font-size: 2rem;
      cursor: pointer;
    }
    .zoraInputBox{
      flex: 7;
      .zoraInputChat{
        width: 100%;
        height: 2rem;
        background-color: var(--z-color-surface);
        border: 1px solid var(--z-color-border);
        border-radius: var(--z-primary_border_radius);
        padding: var(--z-primary_padding);
        color: var(--z-color-text);
        transition: border-color 0.2s ease;
      }
    }
  }
}
