.container{
  width: 100%;
  height: 100%;
  flex: 9;
  max-height: 70dvh;
  .messageBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
}
