@mixin flexLayout($direction: column,$jc:center,$ai:center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
}
.container{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  .content{
    @include flexLayout(column,space-between);
    padding: var(--yc-primary_padding);
    position: relative;
    top: 50%;
    left: 50%;
    width: 97%;
    height: 96%;
    background-color: var(--yc-primary_background_color);
    border-radius: var(--yc-primary_border_radius);
    transform: translate(-50%, -50%);
    .statusBox{
      @include flexLayout(row,right,center);
      width: 100%;
      text-align: right;
      .tipSpan,.status{
        color: var(--yc-gray_color);
      }
    }
    .chatContent{
      @include flexLayout;
      width: 100%;
      flex: 1;
      background: var(--yc-gray_color);
      border-radius: var(--yc-primary_border_radius);
      .chatTitle{
        width: 100%;
        margin: 1rem 0;
        text-transform: capitalize;
      }
      .chatBox{
        flex: 1;
        width: 100%;
        @include flexLayout(row,space-between);
        .chatLeft,.chatRight,.chatMiddle{
          height: 100%;
        }
        .chatLeft{
          @include flexLayout;
          flex: 1;
          background: yellow;
        }
        .chatRight{
          flex: 1;
          background: red;
        }
        .chatMiddle{
          flex: 2.5;
          background: blue;
        }
      }
    }
  }

}
