{% style %}
  .zora-message-component{
    display: flex;
    width: 100%;
    height: 100%;
  }
  .zora-message-content{
    flex: 1;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
{% endstyle %}

<zora-message-component class="zora-message-component">
  <div class="zora-message-content hidden-scroller">
    {% render 'zora-message-item' %}
  </div>
</zora-message-component>
