<div class="zora-auth-container hidden">
  <div class="zora-header">
    <h3 class="zora-title">{{ 'zora.auth_title' | t }}</h3>
    <p class="zora-description">{{ 'zora.auth_description' | t }}</p>
  </div>
  {% render 'zora-form' %}
</div>
